$title-stack: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$text-stack: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$font-color: rgb(0, 0, 0);

$main-background-color: rgb(241, 239, 238);

@mixin dateCategory {
  color: rgb(94, 94, 94);
  display: inline-block;
  font-size: .75rem;
  margin-bottom: 1.45rem;
}

@mixin contentLayout {
  max-width: 780px;
  padding: 2.90rem 1.0875rem 0 1.0875rem;
  margin: 0 auto;
}