@use "../components/base.module.scss";

.content {
    @include base.contentLayout;
    padding-top: 2.9rem;

}

.gradient {
    /* background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.8516981792717087) 0%, rgba(255,255,255,0) 78%);
    height: 100%;
    border-radius: 8px; */
    display: flex;
}

.title {
    font-family: Open Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
font-size: 1.2rem;
font-weight: 900;
letter-spacing: -.02rem;
line-height: 1.5rem;
margin: 0;
padding-top: 0;
}

.dateCategory {
    @include base.dateCategory;
    color: base.$font-color;
    padding-bottom: 0;
    margin-bottom: .3rem;
    line-height: 1.1rem;
}

.blog_item {
    background: #f1efee;
    border-radius: 8px 0 0 8px;
    height: 100%;
    min-height: 300px;
    padding: 30px;
    transition: background-color .2s ease;
    width: 50%;
    
    p {
        font-size: .9rem;
line-height: 1.3rem;
    }
}

.blog_image {
    width: 50%;
    background-size: cover!important;
    background-position: center center!important;
    border-radius:0 8px 8px 0;
    box-shadow: 0px 2px 9px -4px grey;
}

.link {
border-radius: 8px;
box-shadow: 0 2px 9px -4px gray;
color: inherit;
display: block;
margin-bottom: 1.45rem;
min-height: 300px;
text-decoration: none;
transition: all .2s ease;
}

.blog_image {
    background-position: 50% !important;
    background-size: cover !important;
    border-radius: 0 8px 8px 0;
    box-shadow: 0 2px 9px -4px gray;
    width: 50%;
}

a.link:hover {
    color: black;
    box-shadow: 0 2px 15px -4px gray;
-webkit-transform: scale(1.03);
transform: scale(1.03);
}



/* @media only screen and (max-width: 1080px) {
    .link {
        width: 48.99%;
    }
  } */

  @media only screen and (max-width: 750px) {
    .content {
        max-width: 600px;
    }
    .gradient {
        flex-direction: column-reverse;
    }
    .blog_item {
        width: 100%;
        min-height: unset;
        border-radius: 0 0 8px 8px;
    }
    .blog_image {
        width: 100%;
        min-height: 60vw;
        border-radius: 8px 8px 0 0;
    }
  }

  @media only screen and (max-width: 550px) {
    .gradient{
        flex-direction: column-reverse;
    }
    .blog_item {
        width: 100%;
        min-height: unset;
    }
    .blog_image {
        min-height: 60vw;
        width: 100%;
    }
  }