@use "../components/base.module.scss";

.content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 2.90rem;
   padding: 0 1.45rem;
   margin: 2.90rem auto 0 auto;
   max-width: 1300px;

   a {
    width: 32.33%;
    text-align: center;
    background-color: base.$main-background-color;
    margin-bottom: 1.5%;
    box-shadow: 0px 2px 9px -4px grey;
    border-radius: 5px;
    }

    a:hover {
        transform: scale(1.03);
    }

    .clear {
        width: 32.33%;
    }

    h2 {
        text-decoration: none!important;
    }

    small.author {
        margin-top: .5rem;
        display: inline-block;
        border-bottom: 1px solid rgb(189, 189, 189);
        font-style: italic;
        font-family: "Merriweather";
    }

    small.date {
        border-bottom: 0;
        font-style: normal;
        margin-bottom: 0;
        padding-bottom: 0;
        margin-top: 1.3rem;
        color: gray;
        font-family: "Open Sans";
        display: block!important;
    }
}

.title {
    font-family: base.$title-stack;
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem 1.45rem;
    letter-spacing: -0.01em;
}

.dateCategory {
    @include base.dateCategory;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 0 0 1rem 0;
    display: block;

    img {
        box-shadow: none;
        border-radius: 5px 5px 0 0;
    }
}

a.link:hover {
    color: black;
}

a.link:hover .title {
    color: black;
    text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
    .content {
        max-width: 1000px;
    }

    .content a {
        width: 31.33%;
    }

    .content .clear {
        width: 31.33%;
    }
  }

  @media only screen and (max-width: 950px) {
    .content {
        max-width: 750px;
    }
    .content a {
        width: 48%;
        margin-bottom: 4%;
    }
    .content .clear {
        width: 48%;
    }
  }

  @media only screen and (max-width: 650px) {
    .content a {
        width: 100%;
        margin-bottom: 30px;
        max-width: 350px;
        margin: 0 auto 30px auto;
    }
  }