@use "../components/base.module.scss";

.content {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 2.90rem;
   padding: 0 1.45rem;
   max-width: 1600px;
   margin: 2.90rem auto 0 auto;
   

   a {
    width: 23%;
    text-align: center;
    background-color: base.$main-background-color;
    margin-bottom: 3%;
    box-shadow: 0px 2px 9px -4px grey;
    border-radius: 5px;
    }

    a:hover {
        transform: scale(1.03);
        box-shadow: 0px 2px 15px -4px grey;
    }

    h2 {
        color: white;
        border-radius: 5px 5px 0 0;
    }
}

.clear {
    width: 23%;
}

.title {
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    font-weight: 700;
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 1rem 1.45rem;
    letter-spacing: -0.01em;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 0;
    display: block;

    p {
        padding: 1.45rem 1.45rem 0 1.45rem;
        text-align: left;
        font-size: 90%;
        line-height: 1.6em;
    }
}

a.link:hover {
    color: base.$font-color;
}

a.link:hover .title {
    text-decoration: underline;
}

@media only screen and (max-width: 1300px) {
    .content a {
        width: 31.33%;
    }
    .clear {
        width: 31.33%;
    }
  }

  @media only screen and (max-width: 950px) {
    .content a {
        width: 48%;
        margin-bottom: 4%;
    }
    .clear {
        width: 48%;
    }
  }

  @media only screen and (max-width: 650px) {
    .content a {
        width: 100%;
        /* max-width: 400px; */
        margin: 0 auto 30px auto;
    }
    .clear {
        width: 100%;
    }
  }