@use "../components/base.module.scss";

.content {
    @include base.contentLayout;
    padding-top: 1.45rem;
    margin-bottom: 2.9rem;
}

.index {
    font-size: .8em;
    margin-top: .75rem;
    span {
        text-transform: uppercase;
        font-weight: 600;
    }
    
    a {
        margin-right: 7px;
        background-color: base.$main-background-color;
        color: base.$font-color;
        display: inline-block;
        padding: 0 7px;
        border-radius: 5px;
        text-decoration: none;
        transition: all .2s ease;
    }
    a:hover {
        background: base.$main-color;
        color: white;
        text-decoration: underline;
    }
}

.title {
    font-family: base.$title-stack;
    letter-spacing: -.02rem;
    margin: 0;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-top: 1.45rem;
    padding-bottom: .75rem; 
    font-size: 1.2rem;
}

.english_word {
    font-weight: 700;
}

.norwegian_word {
    font-weight: 400;
    font-style: italic;
}

.explanation {
    padding: 0 0 0 .75rem;
    font-size: .95em;

    div {
        width: unset;
        position: relative;
        left: unset;
        right: unset;
        margin-left: unset;
        margin-right: unset;
}
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 1.45rem 0 0 0;
    display: block;
}

a.link:hover {
    color: black;
}

a.link:hover .title {
    color: black;
    text-decoration: underline;
}

@media print {
    .index {
        display: none;
    }
}