footer {
    margin: 0 auto;
    padding: 1.45rem 1.0875rem 1.45rem; 
    background-color: #353535;
    color: white;
    text-align: center;
    font-size: .75em;
}

footer a {
    color: white;
}

footer a:hover {
    color: #e4860b;;
}