@use "../components/base.module.scss";

header {
        background: #e7e5e5;
        padding: 1.45rem;
       
}

header > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper span {
    margin: 0;
    font-family: "Open Sans";
    font-weight: 800;
    font-size: 1.1em;
    text-transform: uppercase;
    letter-spacing: -.05em;  
}

.wrapper span a {
    display: inline-block;
    text-decoration: none;
    color: rgb(87, 77, 67);
    border-bottom: 5px solid rgb(87, 77, 67);
}

@media only screen and (max-width: 850px) {
    header > div {
        flex-direction: column;
        align-items: unset;
        justify-content: unset; 
    }
    .wrapper span {
        margin: 0 0 0.725rem 10px;
    }
  }