@use "../components/base.module.scss";

.menu {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
    z-index: 2;
    text-align: center;

    a {
        text-decoration: none;
        font-weight: 600;
        border-radius: 15px;
        padding: 5px 15px;
    }

    .activeLink {
        color: rgb(166, 95, 3);
    }

    a:hover {
        background-color: rgb(166, 95, 3);
        color: white;
    }

    li {
        margin: 0;
        padding: 0;
        font-size: 85%;
    }
}



@media only screen and (min-width: 100px) {
    .menu {
        display: flex;
        flex-wrap: wrap;
        padding: unset;
        height: unset;
        position: relative;
        justify-content: flex-start;
        width: unset;
        overflow: unset;
        box-shadow: unset;
        background-color: unset;
  }
}

@media only screen and (max-width: 890px) {
    .menu {
        margin-left: -10px;

        a:hover {
            background-color: unset;
            text-decoration: underline;
            color: rgb(166, 95, 3);
        }

        a {
            padding: 5px 10px;
        }

        li {
            margin-bottom: 5px;
        }
    }
  }
/* .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
        text-decoration: none;
        font-weight: 600;
        border-radius: 15px;
        padding: 5px 10px;
    }

    a:hover {
        background-color: white;
    }

    li {
        margin: 0 0 0 0;
        padding: 0;
        font-size: 85%;
    }
} */

/* @media only screen and (max-width: 600px) {
    .menu {
        background: white;
        display: unset;
    }
} */

@media print {
    .menu {
        display: none;
    }
  }