@use "../components/base.module.scss";


.noteWrap {
    background: rgba(189, 161, 125, 0.4);
    margin:0;
    font-size: 85%;
    .mainText {
        margin:0 auto!important;
        padding-bottom: 1rem;
        font-family: "Merriweather";
        line-height: 1.6em;
        width: calc(100% - (120px + 2rem));
        /* max-width: 500px; */
    }
}

.noteWrap:nth-child(9n+2) {
    background: rgba(194, 152, 97, 0.4);
}

.noteWrap:nth-child(9n+3) {
    background: rgba(140, 112, 76, 0.4);
}

.noteWrap:nth-child(9n+4) {
    background: rgba(120, 99, 71, 0.4);
}

.noteWrap:nth-child(9n+5) {
    background: rgba(166, 95, 3, 0.4);
}

.noteWrap:nth-child(9n+6) {
    background: rgba(105, 71, 28, 0.4);
}

.noteWrap:nth-child(9n+7) {
    background: rgba(82, 53, 16, 0.4);
}

.noteWrap:nth-child(9n+8) {
    background: rgba(97, 56, 2, 0.4);
}

.noteWrap:nth-child(9n+9) {
    background: rgba(82, 48, 4, 0.4);
}

.noteWrap:nth-child(9n+9) {
    background: rgba(82, 48, 4, 0.4);
}

.contentWrap {
    @include base.contentLayout;
    padding-bottom: 1.45rem;
    display: flex;
    justify-content: space-between;
    div div {
        padding: 0;
        border: 0;
/*         max-width: 300px; */
        
        p {
            font-family: "Open Sans";
            padding-top: 10px;
            margin-top: 0;
        }
    }

    h2 {
        span {
            display: block;
            text-align: center;
        }
        .day {
            /* font-style: italic; */
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: .2rem;
        }
        .month, .year {
            font-weight: 400;
            font-size: .8rem;
            line-height: 1rem;
        }
        .year {
            opacity: .6;
        }
    }
    
}



.title {
    font-family: "Merriweather";
    font-weight: 700;
    margin: 0 2rem 0 0;
    width: 120px;
    border-right:1px solid rgb(197, 194, 194);
}

@media only screen and (max-width: 650px) {
    .contentWrap {
        display: block;
    justify-content: unset;
        h2 {
            width: 100%;
            padding-bottom: 10px;
            margin-bottom: 1.45rem;

            span {
                display: inline;
                width: 100%;
                   
            }
            .day, .month, .year {
                font-size: 1.4rem;
                color: base.$font-color;
                opacity: 1;
                font-weight: 700;
            }
            .day::after {
                content:". "
            }
            .month::after {
                content: " "
            }
        }
    }

    .noteWrap {
        .mainText {
            width: 100%;

        }
    }

    .title {
        border-bottom: 1px solid rgb(197, 194, 194);
        border-right: 0;
        margin: 0;
    }
}