.bodyimage {
    border: 1px solid gray;
    margin-bottom: 1.45rem;
    padding: 30px 30px 0 30px;

    img {
        border: 1px solid gray;
        margin: 0;
    }

    p {
        margin: 1.25rem auto 1.45rem auto;
        line-height: 1.1rem;
        padding: 0 20px;
        max-width: 480px;
    }
}

.externallink {
    svg {
        border-bottom: 1px solid black;
        position: relative;
        top: 2px;
    }
}

.imageDescription{
    font-size: .8em;
    font-weight: 600;
    margin-top: -20px;
    text-align: center;
}   
    
    
.tipfield {
    margin-bottom: 1.45rem;
    padding: 20px;

    h4 {
        margin-bottom: 10px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}

