.imageDescription{
    font-size: .8em;
    font-weight: 600;
    margin-top: -20px;
    text-align: center;
}   
    
    
.tipfield {
    margin-bottom: 1.45rem;
    padding: 20px;

    h4 {
        margin-bottom: 10px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}