.imageDescription{
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: .8em;
    margin-top: -20px;
  }

.tipfield {
    padding: 20px;
    margin-bottom: 1.45rem;

    h4 {
        margin-bottom: 10px;
    }

    p:last-of-type {
        margin-bottom: 0;
    }

}