.intro {
    background: rgb(238, 227, 250);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(117, 41, 197, 0.3);
  }
  
  .intro p {
    padding: 1rem;
    font-size: 1.1rem;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 1.5rem;
  }