@use "../components/base.module.scss";

.intro {
    
    max-width: 780px;
  margin: 0 auto 80px auto;
  padding:0 1.0875rem 0;
  
  }
  
  .intro p {
    padding: 1rem;
    background: rgb(238, 227, 250);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(117, 41, 197, 0.3);
    font-size: 1.1rem;
    font-family: "Open Sans";
    font-weight: 600;
    line-height: 1.5rem;
  }