.title {
    font-family: "Open Sans";
    font-weight: 700;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.7rem; 
}

.dateCategory {
    font-size: .75rem;
     color: rgb(109, 109, 109);
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 30px 0;
    display: block;
}

a.link:hover {
    color: black;
}

a.link:hover .title {
    color: black;
    text-decoration: underline;
}