@use "../components/base.module.scss";

.headerwrap {
    position: relative;
}

.topcolor {
    background: #e7e5e5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.content {
    @include base.contentLayout;
}

.title {
    font-family: base.$title-stack;
    font-weight: 700;
    letter-spacing: -.02rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 0; 
}

.dateCategory {
    @include base.dateCategory;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 1.45rem 0 0 0;
    display: block;
}

a.link:hover {
    color: black;
}

a.link:hover .title {
    color: black;
    text-decoration: underline;
}

.introField {
    @include base.contentLayout;
    padding-top: 2.90rem;
    padding-bottom: 2.90rem;
    position:relative;
    z-index:2;
    
    h1 {
        font-weight: 800;
        font-size: 2rem;
        line-height: 3.4rem;
        margin-bottom: 1.45rem;
        font-family: base.$title-stack;
        font-size: 2.8rem;
        font-weight: 800;
        line-height: 3.2rem;
        letter-spacing: -.05rem;
    }

    p {
        font-weight: 700;
    }
}

.categories {
    border-radius: 15px;
    padding: 0 15px;
    margin: 0 5px 5px 0;
    transition: all .2s ease;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 9px -4px grey;
}

.categories:hover {
    background-color: #727171!important;
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 580px) {
    .introField {
        h1 {
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
  }