@use "../components/base.module.scss";

.headerwrap {
    position: relative;
}

.topcolor {
/*     background: #e7e5e5; */
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    background: url("https://i.ibb.co/1Zx44C2/Idea-light-bulb-doodle-on-black-chalkboard-with-blank-copy-space-for-educational-success-and-creativ.jpg") center center no-repeat;
    background-size: cover;
    opacity: 0.1;
    background-color: gray;
}

.content {
    @include base.contentLayout;
    margin-bottom: 2.9rem;
}

.title {
    font-family: base.$title-stack;
    font-weight: 700;
    letter-spacing: -.02rem;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-top: 0; 
}

.dateCategory {
    @include base.dateCategory;
}

.link {
    text-decoration: none;
    color: inherit;
    padding: 1.45rem 0 0 0;
    display: block;
}

a.link:hover {
    color: black;
}

a.link:hover .title {
    color: black;
    text-decoration: underline;
}

.introField {
    @include base.contentLayout;
    padding-top: 2.90rem;
    padding-bottom: 2.90rem;
    position:relative;
    z-index:2;
    div {
        margin-bottom: 2.9rem;
    }
    
    .welcome {
        font-weight: 800;
        display: inline-block;
        margin-bottom: 2.9rem;
        border-bottom: 5px solid #BDA17D;
    }
    h1 {

        margin-bottom: 2.9rem;
        font-family: base.$title-stack;
        font-size: 7rem;
        font-weight: 800;
        line-height: .9em;
        letter-spacing: -.4rem;
        color: #A65F03;
        span {
            color: #523004;
        }
        .laer {
letter-spacing: -0.06em;
margin-right: 5px;
        }
        .via {
            letter-spacing: -0.03em;
            margin-left: 5px;
                    }
        
        .del {
            letter-spacing: -0.009em;
            margin-left: 3px;
                    }
    }

    p {
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.4em;
        a:hover {
            color: #06863e
        }
    }
}

.categories {
    border-radius: 15px;
    padding: 0 15px;
    margin: 0 5px 5px 0;
    transition: all .2s ease;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 9px -4px grey;
}

.categories:hover {
    background-color: #727171!important;
    color: white;
    text-decoration: underline;
}

.knapper {
    text-align: center;

    a {
       background-color: rgb(166, 95, 3);
       font-size: .8rem;
       padding: 5px 30px;
       margin: 0 5px;
       margin-bottom: 10px;
    }
    a:hover {
        text-decoration:none;
    }
    a:last-of-type {
        margin: 0;
    }
}

@media only screen and (max-width: 800px)  {
    .introField h1 {
        font-size: 16.5vw;
    }
}

@media only screen and (max-width: 580px) {
    .introField {
        h1 {
            letter-spacing: -.2rem;
            span {
                letter-spacing: unset!important;
                margin: 0!important;
            }
        }
    }
  }