@use "../components/base.module.scss";

.headerwrap {
    position: relative;
}

.topcolor {
    background: #e7e5e5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
}

.intro {
    z-index: 1;
    position: relative;
    @include base.contentLayout;
    padding:2rem;
    max-width:calc(780px + 2rem);
    padding-bottom: 1.45rem;
    background-color: #e7e5e5;
    /* opacity:.9; */
    border-top: 5px solid rgb(166, 95, 3);
    box-shadow: 0px -34px 52px -37px rgb(0 0 0 / 30%);
}

.introWithImage {
    z-index: 1;
    position: relative;
    @include base.contentLayout;
    padding:2rem;
    max-width:calc(780px + 2rem);
    padding-bottom: 1.45rem;
    margin-top: -120px;
    background-color: #e7e5e5;
    /* opacity:.9; */
    border-top: 5px solid rgb(166, 95, 3);
    box-shadow: 0px -44px 52px -17px rgb(0 0 0 / 70%);
}

.content {
    @include base.contentLayout;
/*     margin-bottom: 2.9rem;
 */
    a {
        color: rgb(223, 83, 32);
    }
    a:hover {
        color: rgb(62, 158, 62);
    }
}

.breadcrumb {
    margin-bottom: .3rem;
    display: block;
    opacity: .6;
}

.title {
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.4rem;
}

.ingress {
    font-size: 1rem;
    font-weight: 700;
  }

  .dateCategory {
    @include base.dateCategory;
}

.blogPostImage {
    width: 100%;
    left: unset;
    right: unset;
    margin-left: unset;
    margin-right: unset;
    z-index: 1;
    position: relative;
    height: 40vw;
    max-height: 50vh;
}

.creditLine {
    color: white;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    font-size: 0.5rem;
    margin-right: 10px;
    text-shadow: 1px 1px black;
    position: absolute;
    left: 0;
    right: 10px;
    top: 10px;
}

.codepen_embed {
    width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.globalMessage {
    border-radius: 0;
    margin-bottom: 1.45rem;
    padding: 0;
    padding: 2rem;
    border-top: 1px solid #a65f03!important;
    border-bottom: 1px solid #a65f03!important;
    border-left:none!important;
    border-right: none!important;
    margin-bottom: 1.45rem;
    font-family: merriweather, serif;
    background-color:#ffb55630!important;
/*     font-size: .5rem;
 */   

    p {
        line-height: 1.6em;
        font-size: .9em;
    }
    h5 {
        margin-bottom: 10px;
        font-size:1rem;
        font-family: merriweather, serif;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.byline {
    margin-top: 4.9rem;
    padding-bottom: 2.9rem;
    padding-top: 2.9rem;
    border-top: 1px solid #a65f03;
    border-bottom: 1px solid #a65f03;
    margin-bottom: 1.45rem;
    font-family: merriweather, serif;
    font-size: .95rem;
    position: relative;
    span {
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-weight: 900;
        position: absolute;
        top: -15px;
        width: 100%;
        max-width: 170px;
        margin: 0 auto;
        left: 0;
        right: 0;
        text-align: center;
        color: #a65f03;
        background-color: hsla(0, 0%, 98%, 1);
        letter-spacing: .03em;
    }
    p {
        line-height: 1.6em;
    }
    h5 {
        margin-bottom: 10px;
        font-family: merriweather, serif;
        font-weight: 700;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}



.knapper {
    text-align: center;

    a {
       background-color: rgb(166, 95, 3);
       font-size: .8rem;
       padding: 5px 30px;
       margin:0 5px;
       margin-bottom: 10px;
    }
    a:hover {
        text-decoration:none;
    }
    a:last-of-type {
        margin: 0;

    }
    margin-bottom: 2.9rem;
}

.categories {
    border-radius: 15px;
    padding: 0 15px;
    margin: 0 5px 5px 0;
    transition: all .2s ease;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 9px -4px grey;
}

.categories:hover {
    background-color: #727171!important;
    color: white;
    text-decoration: underline;
}

@media only screen and (max-width: 580px) {
    .title {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    .introWithImage {
        margin-top: unset;

    }
  }

  @media screen and (max-width:850px) {
    .introWithImage {
        z-index: 1;
        position: relative;
        padding: unset;
        max-width: unset;
/*         @include base.contentLayout;
 */        margin-top: unset;
/*         padding-bottom: 1.45rem;
 */        box-shadow: none;
        border-top: none;
    }
    .intro {
        z-index: 1;
        padding: unset;
        max-width:unset;
}
    .introWrapper {
        position:relative;
        z-index: 1;
        max-width: 780px;
        margin: 0 auto;
        padding: 2rem 1.0875rem 1.45rem 1.0875rem;
}

    .blogPostImage {
        border-bottom: 5px solid rgb(166, 95, 3);
    }
}

.clear {
    margin: 0!important;
}

  @media screen and (max-width:925px) {
    .blogPostImage {
        width: 100%;
        left: unset;
        right: unset;
        margin-left: unset;
        margin-right: unset;
    }  
}

@media screen and (min-width:1200px) {
    .blogPostImage {
        width: 84vw;
        max-width: unset;
        left: 50%;
        right: 50%;
        z-index:1;
        margin-left: -42vw;
        margin-right: -42vw;
        position: relative;
        text-align: center;
        img {
            width: 100%;
        }
    }
}

@media screen and (min-width:2000px) {
    .blogPostImage {
        width: 60vw;
        margin-left: -30vw;
        margin-right: -30vw;
      
    }
}