@use "../components/base.module.scss";

.headerwrap {
    position: relative;
}

.topcolor {
    background: #e7e5e5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    
}

.intro {
    z-index: 1;
    position: relative;
    @include base.contentLayout;
    padding-bottom: 1.45rem;
}


.content {
    @include base.contentLayout;
    margin-bottom: 2.9rem;
    a {
        color: #cc4717;
    }
    a:hover {
        color: #06863e;
    }
}

.title {
    font-family: base.$title-stack;
    font-size: 2.8rem;
    font-weight: 800;
    line-height: 3.4rem;
}

.ingress {
    font-size: 1rem;
    font-weight: 700;
  }



  .dateCategory {
    @include base.dateCategory;
}

.breadcrumb {
    margin-bottom: .3rem;
    display: block;
    opacity: .6;
}

.categoryWrapper {
    margin-bottom: 1.45rem;
}

.categories {
    border-radius: 15px;
    padding: 0 15px;
    margin: 0 5px 5px 0;
    transition: all .2s ease;
    text-decoration: none;
    display: inline-block;
    font-size: 75%;
    color: white;
    font-weight: 600;
    box-shadow: 0px 2px 9px -4px grey;
}

.categories:hover {
    background-color: #06863e!important;
    color: white;
    text-decoration: underline;
}


@media only screen and (max-width: 580px) {
    .title {
        font-size: 2rem;
        line-height: 2.4rem;
    }
  }

  @media print {
      .title {
        font-size: 2rem;
        font-weight: 900;
        line-height: 1.2em;
        widows: 4;
        orphans: 4;
    }
    .topcolor {
background:unset!important;
    }
    .intro {
        background-color: unset;
        border-top: none;
        box-shadow: none;
        margin-top: 12vw;
    }
    pre {
        border-top:1px solid gray;
        border-bottom: 1px solid gray;
        widows: 4;
        orphans: 4;
        font-size:.8em;
        background-color: unset!important;
    }
    .globalMessage, .byline, .knapper {
        display:none;
    } 
    p a[href]:after, ul a[href]:after {
        content: " (" attr(href) ")";
        color: black;

      }
    a {
        color: black;
    }
    p a {
        color: black;
    }
      p {
          widows: 4;
          color: black;          
        }
        em {
            color: black;
        }
        
      .content {
          padding-top: 0;
      }

      h1,h2,h3,h4,h5,h6 {
        widows: 4;
        orphans: 4;
      }
      html {
          font-size: 14px;
          background-color: unset;
      }
      code span {
          color: black!important;
      }
      code .comment  {
        color: gray!important;
    }
    .bodyimage {
        width: 50%!important;
    }
      @page {
        margin: 2cm;
        
      }
  }